//My Colors
$dark-blue: #0B3954
$seaweed: #087E8B
$light-color: #BFD7EA
$dark-color: #333333
$pastel: #FF5A5F
$vermillon: #C6454C

// Font Weights
$light: 100
$regular: 400
$bold: 600


// Cool
$aqua:  #7FDBFF
$blue:  #0074D9
$navy:  #001F3F
$teal:  #39CCCC
$green: #2ECC40
$olive: #3D9970
$lime:  #01FF70


// Warm
$yellow:  #FFDC00
$orange:  #FF851B
$red:     #FF4136
$fuchsia: #F012BE
$purple:  #B10DC9
$maroon:  #85144B


// Gray Scale
$white:  #fff
$silver: #ddd
$gray:   #aaa
$black:  #111
