header {
  @include fill-parent();
  background-color: $dark-color;
  padding-bottom: 5px;
}

header ul {
  margin: 0 auto;
  padding: 0 !important;
  list-style: none;
  text-align: center;

  li, li a {
    display: inline-block;
    font-size: 34px;
    color: white;
    font-family: 'Raleway';
  }

  li:not(:first-child) {
    margin-left: 30px;
  }

  .logo {
    background: url("http://lorempixel.com/400/200/");
    background-repeat:no-repeat;
    height:100px;
    display:block;
    margin-top: 20px;
    margin-left: 0px;
    width:215px;
    padding: 0;
  }
}
